h3{
	color: red;
	
}
.heading-1{
	background-color: yellow;
}
.border{
    border:2px dashed black;
}
p {
	border: 2px solid powderblue;
    padding: 30px;
    margin: 50px;
}

#head{
	font-size: 10px;
} .box{
	width: 20rem;
	height: 100px;
    background-color: rgba(127,161,177,1);
}
h6{
   display: none;
}